body {
  padding: 0;
  margin: 0;
  background-color: rgb(48, 48, 48);
  color: white;
}

#rStartingBox {
  background-color: rgb(77, 77, 77);
  border: 1px rgb(48, 48, 48);
  color: white;
  width: 350px;
  height: 30px;
  font-size: 1.2em;
  margin-top: -15px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-left: 10px;
}

#fStartingBox {
  background-color: rgb(77, 77, 77);
  border: 1px rgb(48, 48, 48);
  color: white;
  width: 350px;
  height: 30px;
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-left: 10px;
}

#advancedPanel {
  display: none;
}

#rStartingBox {
  display: none;
}

#fStartingBox {
  display: none;
}

input[type="text"] {
  background-color: rgb(48, 48, 48);
  border: 1px rgb(48, 48, 48);
  color: white;
  width: 250px;
  height: 40px;
  font-size: 1.3em;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

.vr {
  border-left: 1px solid rgb(88, 88, 88);
  margin-top: 5px;
  height: 30px;
}

.btn_icon {
  width: 35px;
}

#downArrow {
  padding: 10px;
  margin: 5px 5px 4px 3px;
  width: 14px;
  height: 14px;
  filter: invert(100%) sepia(0%) saturate(127%) hue-rotate(194deg)
    brightness(92%) contrast(89%);
  transition: 0.2s;
}
#upArrow {
  padding: 10px;
  margin: 4px 3px 5px 5px;
  width: 14px;
  height: 14px;
  filter: invert(100%) sepia(0%) saturate(127%) hue-rotate(194deg)
    brightness(92%) contrast(89%);
  transition: 0.2s;
}

#upArrow:hover,
#downArrow:hover {
  background-color: rgba(88, 88, 88, 0.568);
  border-radius: 50px;
}

#downArrow {
  transform: scaleY(-1);
}

.row {
  display: flex;
}

#advanced_btn {
  height: 36px;
  margin-top: 3px;
  transition: 0.2s;
}

#advanced_btn:hover {
  background-color: rgba(88, 88, 88, 0.568);
  border-radius: 50px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
